<% if project.favorite_by?(current_user) %>
	<%= link_to project_favorites_path(project, redirect_id: 1), method: :delete do %>
        <span class="glyphicon glyphicon-heart", style="color: red;"><%= project.favorites.count%></span>
    <% end %>
<% else %>
    <%= link_to project_favorites_path(project, redirect_id: 1), method: :post do %>
        <span class="glyphicon glyphicon-heart-empty"><%= project.favorites.count %></span>
    <% end %>
<% end %>