<footer>
	<div class="container">
		<div class="row">
			<h4 style="color: rgba(200, 0, 0, 0.8); margin-top: 30px;">OAR SINCE 2020</h3>
			<h5 style="color: rgba(200, 0, 0, 0.8);">株式会社 OAR</h4>
			<h6 style="color: rgba(200, 0, 0, 0.8);">Osaka 200, Osaka Shi, Osaka Fu 123-4567, Japan</h5>
			<h6 style="color: rgba(200, 0, 0, 0.8);">Tel.0120-4321-9876/Fax.0987-65-4321</h5>
		</div>
	</div>
</footer>