<div class="a top-image", style="height: 1000px;", data-turbolinks="false">

	<div id="header">
		<%= render "users/header" %>
	</div>

	<p class="top-message", style="font-family: serif; color: rgba(200, 0, 0, 0.8);">slow and steady wins the race</p>
</div>

<div class="container about", style="height: 900px;">
	<div class="row">
		<div class="col-xs-6", style="height: 800px; background-color: #EEEEEE; margin-top: 50px;">
			<h2 style="text-align: center;">What is OAR?</h2>
			<br>
			<P class="top-text">何かにチャレンジし、大きな成長を成し遂げるための</P>
			<br>
			<p class="top-text">継続・習慣化をお手伝いします。</p>
			<br>
			<p class="top-text">今日から生活を見直し、</p>
			<br>
			<p class="top-text">今後の人生を大きく変えていきましょう！</P>
		</div>
		<div class="col-xs-4 col-xs-offset-1 sub-contents", style="margin-top: 50px;">
			<div class="marathon1", data-turbolinks="false">
			</div>
			<div class="marathon2", data-turbolinks="false">
			</div>
			<div class="marathon3", data-turbolinks="false">
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<%= render "footer" %>
</div>