<div id="header">
	<%= render "users/header" %>
</div>

<div class="a top_image", style="height: 1000px;">
	<p class="top-message", style="font-family: serif; color: #CCCCCC">slow and steady wins the race</p>
</div>

<div class="footer">
	<%= render "footer" %>
</div>