<div id="header">
	<%= render "users/header" %>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12", style="height: 800px;" >
			<div class="top_image">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12", style="height: 800px;">
			<div class="main_contents">
			</div>
		</div>
	</div>
</div>