<div id="header">
	<%= render "users/header" %>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1", style="background-color: blue; height: 300px;">
			<div class="main contents">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1", style="background-color: yellow; height: 300px;">
			<div class="main contents">
			</div>
		</div>
	</div>
</div>