<div id="header">
	<%= render "users/header" %>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2", style="background-color: blue; height: 1000px;">
			<div class="main contents">
			</div>
		</div>
	</div>
</div>