<div id="header">
	<%= render "users/header" %>
</div>

<div class="container project_new_container">
	<div class="row">
		<h1>New Project</h1>
	</div>

	<br>

	<div class="row">
			<%= render 'form', project: @project %>
	</div>

	<br>

	<div class="row">
		<%= link_to 'Back', projects_path %>
	</div>
</div>




