<div id="header">
	<%= render "users/header" %>
</div>

<div class="container project_new_container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h1 style="color: #777777; text-align: center;">新プロジェクト</h1>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-3" style="font-size: 20px; color: #777777; padding: 20px;">
			<%= render 'form', project: @project %>
		</div>
	</div>
</div>

<div class="footer">
	<%= render "tops/footer" %>
</div>




