<div id="header">
	<%= render "users/header" %>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-2", style="background-color: red; height: 600px;">
			<div class="profile">
			</div>
		</div>

		<div class="col-xs-10", style="background-color: blue; height: 1000px;">
			<div class="main contents">
			</div>
		</div>
	</div>
</div>